* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    margin-right: 4px;
}

.header-image {
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    margin: 0 auto 20px;
}

#header::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 5%;
    width: 50%;
    height: 80%;
    background-size: cover;
    background-image: url('./images/IMG_20240213_091142_HDR~2.jpg');
    background-position: center;
    border-radius: 16px;
    transform: translateY(-50%);
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

/* About Section */
#about {
    padding: 80px 0;
    color: #ababab;
}

.about-title-container {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.about-content {
    margin-bottom: 40px;
    line-height: 1.6;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.about-grid-item {
    background: #262626;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.about-grid-item:hover {
    transform: translateY(-5px);
    background: #333;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

h3 {
    color: blueviolet;
}

.tab-section-title {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin: 20px 0 20px;
    position: relative;
}

.tab-section-title::after {
    content: '';
    width: 50px;
    height: 4px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
}

.skills-list {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1rem 0;
}

.skills-list li {
    margin-bottom: 1rem;
}

.skills-list ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}

.skills-list span {
    font-weight: bold;
    color: #ff004f;
}

.job-list {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1rem 0;
}

.job-list li {
    margin-bottom: 1.5rem;
}

.job-list h3 {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.job-list ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}

.job-list span {
    font-weight: bold;
}

/* services */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/* portfolio */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    color: greenyellow;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* contact */
.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
}

.contact-left {
    border-radius: 10px;
}

.contact-right {
    border-radius: 10px;
}

.contact-left p {
    margin-top: 20px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
    margin-top: 20px;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
}

nav .fas {
    display: none;
}

/* Responsive styles */
@media only screen and (max-width: 1200px) {
    #header::before {
        width: 50%;
        height: 60%;
    }

    .header-image {
        margin-top: 12px;
        width: 180px;
        height: 180px;
    }

}

@media only screen and (max-width: 992px) {
    #header::before {
        width: 45%;
        height: 55%;
    }

    .header-image {
        margin-top: 12px;
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 768px) {
    #header {
        height: auto;
        padding-bottom: 30px;
    }

    #header::before {
        display: none;
    }

    .header-image {
        display: block;
        width: 180px;
        height: 180px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .header-content {
        text-align: center;
    }

    .header-text {
        margin-top: 30px;
        font-size: 18px;
    }

    .header-text h1 {
        font-size: 28px;
    }

    nav ul {
        margin-top: 20px;
    }

    nav ul li {
        margin: 8px 10px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .sub-title {
        font-size: 36px;
    }

    .about-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }

    .header-image {
        margin-top: 12px;
        width: 300px;
        height: 300px;
    }

    .header-text {
        margin-top: 15%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav ul li {
        margin: 6px 8px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-title-image {
        position: static;
        transform: none;
        display: block;
        margin: 20px auto;
        width: 120px;
        height: 120px;
    }

    .about-title-container {
        display: block;
        text-align: center;
    }
}